/*
   style.css
   Pancake Invoice Template

	This template was design to be easily modifiable and simple to build new Pancake Payment Invoice templates from.

   Created by Lee Tengum on 2010-04-04.
   Copyright 2010 Pancake Payments (http://pancakeapp.com). All rights reserved.
   
*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #F5F3F1;
	padding:0;
	margin:0;
	font-size:14px;
	font-family: 'Source Sans Pro', 'source sans pro', 'Open Sans', 'Helvetica', helvetica;
	color:#666;
    line-height: 1.5em;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .6);
}

/* ============ */
/* = Defaults = */
/* ============ */
.cl { clear: both; }

.orangered, ul li a  {
	color: #005ea6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
}

p {
	margin:0 0 14px 0;
	line-height:21px;
}

.tight p, .tight h2 {
	margin:0;
	padding:0;
}

table { border-collapse: collapse; }

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/* ============= */
/* = Structure = */
/* ============= */

.buttonBar {
	height:50px;
	width:100%;
	display:block;
	text-align:right;
  	position:fixed;
    z-index: 4;
	top:0;
	left:0;
	background: #3a3a3a;
	color: #fff;
	line-height: 21px;
    border-bottom: 1px solid #fff;
}

.buttonHolders {
	width:835px;
	margin:0 auto;
}

.buttonBar a {
	float:right;
	padding:15px 10px 10px 10px;
	color:#999;
	text-decoration:none;
    border-bottom: 3px solid transparent;
    text-align: center;
    text-shadow: none;
    
    -webkit-transition: .2s ease-in-out all;
    -moz-transition: .2s ease-in-out all;
    transition: .2s ease-in-out all;    
}

.buttonBar a:hover {
    background: #3f3f3f;
    border-bottom-color: #33B5E5;
    /* Saf4+, Chrome */
    color: #fff;
    cursor: pointer;
    text-shadow:none;
}

.invoice .paidon, .button-bar-text {
	float:left;
	margin-left:5px;
	margin-top:16px;
    text-shadow: none;
}

/* ================== */
/* = END BUTTON BAR = */
/* ================== */

/* ====================================================== */
/* = Set Table dimensions here for regular and pdf mode = */
/* ====================================================== */

.logo {
    margin-bottom: 1em;
}

h2.logo {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: .5em;
}

.info{
	margin: 0;
    padding: 0;
    list-style-type: none;
}

.info li {
    margin: 0;
    padding: 0;
    color: #888;
}

.info li.address {
    margin-bottom: 1.3em;
}

.info li.email {
    
}

.info li.address h5 {
    display: block;
}

.meta-title, .info li span, table th {
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5, .h5 {
    display: inline;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;    
}

/* ======================== */
/* = END Table dimensions = */
/* ======================== */

/* ====================== */
/* = BEGIN INVOICE BODY = */
/* ====================== */

.title {
    position: relative;
    margin-bottom: 2.5em;
}

.title td.spacer {
    background: url(../img/border-double.png) repeat-x 0 0;
    width: 50%;
}

.title td.invoice-title {
    background: white;
    padding: 0 10px;
}

h1, .envelope h2, .title {
    margin: 0;
    padding: 0;
    color: #1C99C7;
    text-align: center;
    line-height: 1em;
    font-size: 37px;
    font-weight: 300;
    position: absolute;
    top: -24px;
    left: 0;
    right: 0;
}

h1 span, .envelope h2 span {
    background: #F5F3F1;
    padding: 0 10px;
}

.envelope h2 {
    text-align: left;
}

.envelope h2 span {
    font-size: 28px;
    padding-left: 0;
}

.invoice-contact {
    
}

.invoice-meta {
    margin-bottom: 2.5em;
    background: #ececec;
    height: 40px;
    border-spacing: 0;
    line-height: 1;
    
}

.invoice-meta td {
    white-space: nowrap;
    padding: 4px 15px;
    
}

.invoice-meta td.spacer {
    width: 100%;
}

.invoice-meta div {
    float: left;
    padding: 10px 30px 10px 25px;
    margin: 0;
}

.invoice-meta div span {
    font-weight: 700;
    padding-left: 4px;
}

.invoice-meta .invoice-id {
    color: #fff;
    background-color: #1C99C7;
    min-width: 270px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
}

.invoice-meta .invoice-id h5 {
    color: #fff;
}

.invoice-meta .dates {
    float: right;
    padding: 0;
}

.invoice-meta .dates div {
    text-align: right;
}

.invoice-meta .dates div span {
    color: #555;
}

.invoice-meta .invoice-date {
    border-left: 1px solid #F5F3F1;
}

.invoice-meta .invoice-due {
    border-left: 1px solid #F5F3F1;
}

.invoice-meta .invoice-paidon {
    background: #7FC24B;
    color: #fff;
    float: none;
    clear: both;
}

.invoice-meta .invoice-paidon span{
    color: #fff;
}

#wrapper {
	width:800px;
	margin:0 auto;
	clear:both;
	padding:50px 0px;
}

/* Logo holder */
.img-logo {
    line-height: 0;
    margin-bottom: 1em;
}

.img-logo img {
    height: auto !important;
}

.header {
    padding-top: 1px;
}

.invoice #header, .invoice .header {
    margin-bottom: 1.8em;
}

#envelope, .envelope {
    border-top: 4px double #ddd;
    position: relative;
    padding:3em 0 0 0;
    margin-top: 70px;
}

#envelope table, .envelope table {
    width: 100%;
    border-spacing: 0;
}

/* Invoice details box */

#details-wrap {
	padding-right:10px;
	border-right:1px solid #efefef;
}

#details-wrap .paidon {
    float: none;
    text-align: right;
    color: #666;
    font-weight: 400;    
}


#company-info-holder {
    float: left;
    width: 496px;
    margin-top: 1em;
}

#invoice-details-holder {
    float: left;
    width: 300px;   
}

#invoice-details-holder p {
	color:#666;
	font-weight:600;
}

#invoice-details-holder h2 {
	color:#555555;
	font-size:48px;
	font-weight:400;
}

.description {
    margin-bottom: 2.5em;
    border-top: 4px double #ddd;
    font-style: italic;
}

.description p:first-child {
    padding-top: 2em;
}

.description p:last-child {
    margin-bottom: 0;
}

/* Company Details Box */

#mailto {
	width:300px;
	float:left;
}

#companyInfo h1 {
	font-size:18px;
	color:#142C35;
}

#clientInfo {
	clear:both;
}

/* Client Details Box */



#clientInfo {
    border-left: 1px solid #ddd;
	padding: 1.5em 0;
    text-align: right;
    position: relative;
}

#clientInfo:after, #clientInfo:before {
	left: -1px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#clientInfo:after {
	border-left-color: #f5f3f1;
	border-width: 13px;
	top: 55px;
	margin-top: -33px;
}
#clientInfo:before {
	border-left-color: #ddd;
	border-width: 14px;
	top: 55px;
	margin-top: -34px;
}


#clientInfo h2 {
	font-size:18px;
	font-weight:400;
	color:#555;
    margin-bottom: .6em;
}

#billing-info p:last-child{
    margin-bottom: 0;
}

p#work_desc {
	margin:30px 0 0 0;
	color:#939393;
	text-indent:10px;
}

/* ======================== */
/* = Invoice Table & Rows = */
/* ======================== */

#content {
	clear:both;
}

.data-table, .project table {
	margin:0;
	font-size:12px;
	line-height:14px;
    /* table-layout: fixed; */
    width: 800px;
    -webkit-box-shadow: 0 5px #E1E1E1,0px 5px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px #E1E1E1,0px 5px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px #E1E1E1,0px 5px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5em;
}

.data-table thead, .project table thead {
	/* background:#f2f2f2; Known bug in DOMPDF, add when its fixed or whatever */
	height:35px;
	color:#333;
}

.data-table thead th, .project table thead th {
    background: #ececec;
}

.data-table th, .project table th { padding:10px 4px; text-align: center; }
.data-table td, .project table td { padding:10px 4px; text-align: center; }

.data-table tr th.column_1, .data-table tr td:first-child {
    width: 450px;
    padding-left: 10px;
    text-align: left;
}

.data-table tr th.column_2 {
	width:100px;
}

.data-table tr th.column_3 {
	width:82px;
}

.data-table tr th.column_4 {
	width:64px;
}

.data-table tr th.column_5, .data-table td:last-child {
	width:68px;
    text-align: right;
    padding-right: 10px;
}

/* Define column widths here for online viewing. PDF mode is defined below */
.data-table tr td.column_1, .data-table td:first-child {
	color:#565656;
    font-weight: 600;
    padding-left: 10px;
}

.data-table td.column_2 {
	text-align:center;
}

.data-table td.column_3 {
	text-align:center;
}

.data-table td.column_4 {
	text-align: center;
}

.data-table td.column_5 {
	text-indent:0px;
	text-align: right;
	color:#1C99C7;
    font-weight: 600;
    padding-right: 10px;
}

#content .invoice-notes {
    padding-right: 20px;
    padding-top: 5px;
}

.payment-plan, .files-holder p {

}

#list-of-files {
    list-style-type: none;
    padding: 0;
}

.data-table tr.invoice-desc-row {
	height:28px;
	background:#fafafa;

}

.data-table tr.invoice-desc-row td {
    border-bottom: 1px solid #f5f3f1;
}

.data-table tr.border-top td, .data-table tr.border-bottom td {
	padding:0;
	margin:0;
}

.data-table tr.border-top td div{
	border-bottom:1px solid #E6E6E6;
	height:1px;
	margin: 0 0 1px 0;
	display:block;
}

.data-table tr.border-bottom td div {
	border-top:1px solid #E6E6E6;
	height:1px;
	margin: 1px 0 0 0;
	display:block;
}

.data-table tr.invoice-item-notes td {
    background: #f7f7f7;
	color:#666;
	line-height:160%;
	font-size:12px;
    font-weight: 400;
    padding-left: 25px;
}

.data-table tfoot td.total-heading {
	color:#555;
	text-align:center;
}

.data-table tfoot td.total-values {
	color:#555;
	text-align:right;
	white-space: nowrap;
    padding-right: 10px;
}

.data-table .invoice-due-on {
	color: #D34517;
	text-align:right;
}


.data-table tr.invoice-total {
    background: #1C99C7;
    font-weight: 600;
}

#content .invoice-description {
	vertical-align: top;
	font-size: 14px;
}

#content .amount, #content .dueon, #wrapper a {
	color: #1C99C7;
}
#content .payment-plan a {color: #D34517;}
 .orange {color: #D34517!important;}

#content .file-to-download {background-repeat: no-repeat;padding-left: 24px;}
#files {margin:20px 0 0 0}
#files ul {margin:0;list-style:none;padding:5px 0;}
#files li {display:inline;padding:6px 10px 6px 0px; font-size:10px}

#content .payment-plan {
	/*
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	*/
}

#payment-plan-header {
	margin-top:30px;
}

.files-holder {
	padding:10px 0 0 0;
}

.invoice-description h3 {
	
}

.total-heading {
	text-align:right;
	width: 110px;
}

.invoice-total td {
    font-size: 14px;
    color: #565656;
}

.invoice-total .total-heading {
}

.invoice-total .total-values {
    color: white;
    background: #1C99C7;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);    
}

#taxes {
	padding-left:0;
	font-size: 12px;
}

#taxes li {
	list-style:none;
}

#taxes .name {
	font-weight: 600;
}


/* Table Meta */

.table-meta {
    font-size: 12px;
}

.table-meta td {
    padding: 5px 10px;
}

.table-meta .total-values {
    text-align: right;
}

.table-meta .invoice-extra {
    float: left;
    width: 640px;
    padding: 0 20px 10px 10px;
}

.table-meta .invoice-totals {
    float: left;
    width: 160px;
}

/* Kitchen Styles */
.kitchen .data-table a {
    text-decoration: none;
}

.kitchen .data-table a:hover {
    text-decoration: underline;
}

.kitchen .data-table, .kitchen .project table {
    font-size: 14px;
    line-height: 18px;
    table-layout: fixed;
}

.kitchen .data-table td {
    background: #fafafa;
}

.kitchen .data-table th {
    letter-spacing: 0;
}

.kitchen .data-table th:first-child {
    padding-left: 10px;   
}

.kitchen tr th.desc {
    width: 320px;
    text-align: left;
}

.kitchen tr th.due {
    width: 95px;
}

.kitchen tr th.total {
    width: 100px;
}

.kitchen tr th.paid {
    width: 75px;
}

.kitchen tr th.view {
    width: 110px;
}

.kitchen tr th.notes {
    width: 100px;
    text-align: center;
}

.kitchen .estimates tr th.desc {
    width: 590px;
}

.kitchen .projects .items-desc-row td {
    border-bottom: 1px solid #eee;
}

.kitchen .projects .items-desc-row td:first-child:before {
    content: "\203A";
    width: 20px;
    display: inline-block;
    text-align: center;    
}

.kitchen .projects .item-notes td {
    color: #565656;
    font-weight: 400;
    font-size: 12px;
}

.kitchen .projects .item-notes td p:last-child {
    margin-bottom: 0;
}

.milestone-icon {
    float: left;
    width: 9px;
    height: 9px;
    margin: 4px 6px 0 0;
}

/* ================================ */
/* = Generic styles and reusables = */
/* ================================ */

h2.main-header-style {
	margin:0 0 5px 0;
}

#billing-table h3 {
	font-size:14px;
	margin:0 0 5px 0;
	color:#555555;
}

#billing-table p {
	color:#666;
	margin:0;
}

strong {
	font-weight:600;
}



.timesheet-table {width: 100%;border-spacing: 0;border-left: 1px solid #ccc; font-size:12px!important;}
.timesheet-table th, .timesheet-table td {padding: 10px 6px; border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;text-align:center;}
.timesheet-table th {background: #f6f6f6; color: black; border-top: 1px solid #ccc;}

.timesheet_user, .timesheet_date, th.timesheet_task {white-space:nowrap;}
.timesheet_notes{ text-align:left!important;}

.proposal div.page {border: 1px solid #ccc;margin-bottom:50px;padding: 2em;}
.proposal h2 {margin-top:0;}

.proposal .editable {cursor: pointer;position:relative;}
.proposal textarea {cursor: auto;background:none;outline: 2px solid #142C35;height: 1.2em;width:100%; background: transparent; color: inherit !important;border:0;font-size:inherit;font-weight:inherit;font-family:inherit;margin:0;padding:0;}
.proposal .cover-page {background: #005ea6; color: white;padding: 50px;margin-bottom:50px;}
.proposal .cover-page h2, .proposal .cover-page p {color:white !important;}
.proposal .title {width: 250px;}
.proposal .sidebar > ul {padding-left:2em;}
.proposal .sidebar:before, .proposal .sidebar:after {content: "";position:absolute; z-index:1; top:0;left:-16px; display:block; background:white; height: 16px; width: 16px;}
.proposal .sidebar:before {background:#142C35;}
.proposal .sidebar:after {border-top-right-radius:8px;}
.proposal .sidebar {position:fixed; top:55px; right:0; background: #142C35; padding: 25px;color:white;border-bottom-left-radius:4px;}
.proposal .sidebar h2 {color:white;}
.proposal .sidebar a.close {float:right;padding:0;background:transparent;}
.proposal #wrapper .section {margin-bottom: 40px;}
.proposal.not-pdf #wrapper {margin-top: 105px;margin-bottom: 50px;}
.proposal.admin .sidebar li {cursor: move;}
.proposal .samplePage, .proposal .sampleSection {display:none;}
.proposal .sidebar select {margin-bottom: 2em;}
.proposal #clientInfo span {float:none;}
.proposal .clientId, .proposal .sidebar .clientEdit, .proposalId {display:none;}
.proposal .saveProposal {min-width: 100px;text-align:center;}
.proposal .sidebar ul {padding: 0;list-style: none;}
.proposal .sidebar li {min-height: 20px;}
.proposal .sidebar > ul > li > ul {min-height: 37px;}
.proposal .sidebar > ul > li > ul > li > ul {border: 5px solid black;min-height:37px;}
.proposal .sidebar > ul > li > ul > .empty {height: 37px;background: red;}
.proposal .sidebar > ul > li > ul > li > ul > .empty {height: 37px;background: #005ea6;}
.proposal .sidebar ul ul li {border: 1px solid #ccc;}
.proposal .sidebar ul ul li > span {background: black;padding:10px;margin:0;display:block;}
.proposal .addSection, .proposal .addPage, .proposal .sidebar a {background: #005ea6; color: white; display: inline-block; padding: 10px;border-radius: 8px;text-decoration:none;}
.proposal.not-admin #wrapper .section:last-child {margin-bottom:0;}
.proposal .sidebar .page > ul {margin: 1em 0;display:block;}
.proposal .siteAddress {width: 225px;}
.proposal.pdf .sidebar, .proposal.pdf .addSection, .proposal.pdf .addPage, .proposal.not-admin .addSection, .proposal.not-admin .addPage, .proposal .editing-container {display:none;}
.proposal.pdf #clientInfo {display:block;}
.proposal.pdf .cover-page, .proposal.pdf .page {height: 1022px;border:0;page-break-after:always;margin:0;}
.proposal.pdf .page:last-child {page-break-after: avoid;}
.proposal .empty-stuffs {color:#ccc;}
.proposal.pdf .empty-stuffs {display:none;}
.proposal .editing {cursor: auto;background: #142C35;border-radius: 8px;border-bottom-left-radius:0;border-bottom-right-radius:0;position:absolute;font-size:14px;height:20px;top:-40px;right:0;color:#4A4A4A;padding:10px;}
.proposal .editing a {text-decoration:none;color: white;}

#envelope2 table {width: 100%;}

/* Button */

a.button{
	font-size:14px;
    background: #ff4179;
	margin-top: 8px;
	font-weight: 600;
	color:#fff !important;
    line-height: 22px;
    height: 30px;
    padding: 5px 14px;
    text-shadow: 1px 1px 1px #a6274c;
    -webkit-box-shadow: 0 5px #a6274c,0px 5px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px #a6274c,0px 5px 6px rgba(0,0,0,0.3);
    box-shadow: 0 5px #a6274c,0px 5px 6px rgba(0,0,0,0.3);
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .01s linear all, .2s ease-in-out background-color;
    -moz-transition: .01s linear all, .2s ease-in-out background-color;
    transition: .01s linear all, .2s ease-in-out background-color;
}

a.button:hover {
    background: #FF5C8C;
    text-shadow: 1px 1px 1px #a6274c;
    text-decoration:none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

a.button:active {
    box-shadow: #A6274C 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: #A6274C 0 1px,0px 1px 3px rgba(0,0,0,0.3);
    -moz-transform: translate(0,2px)!important;
    -webkit-transform: translate(0,2px)!important;
    -o-transform: translate(0,2px)!important;
    -ms-transform: translate(0,2px)!important;
    transform: translate(0,2px)!important;
}

a.button span {
	cursor:pointer;
	color: #fff !important;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
}

a.button.green {
    background-color: #7FC24B;
    text-shadow: 1px 1px 1px #4b7a29;
    -webkit-box-shadow: 0 5px #4b7a29,0px 5px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px #4b7a29,0px 5px 6px rgba(0,0,0,0.3);
    box-shadow: 0 5px #4b7a29,0px 5px 6px rgba(0,0,0,0.3);    
}

a.button.green:active {
    box-shadow: #4b7a29 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: #4b7a29 0 1px,0px 1px 3px rgba(0,0,0,0.3);
}

a.button.green:hover {
    background: #8eca62;
}

#paypal .button {
    margin-left: 5px;
}


/* PDF Mode */
.pdf_mode {
    background: #fff;
    font-size: 13px;
    line-height: 1.1em;
    text-shadow: none;
}

.pdf_mode p {
    line-height: 1.1em;
}

.pdf_mode h1 {
    top: -34px;
    font-family: 'source sans pro light';
    font-weight: bold;    
}

.pdf_mode #envelope, .pdf_mode .envelope {
    padding-top: 40px;
    margin-top: 30px;
}



.pdf_mode h5,
.pdf_mode .meta-title,
.pdf_mode .info li span,
.pdf_mode table th {
    font-size: 11px;
}

.pdf_mode #wrapper {
	margin:0;
	width:700px!important;
	overflow:none;
	padding:0;
}

.pdf_mode .img_logo img {
    max-width: 250px;
}

.pdf_mode .invoice-contact {
    
}

.pdf_mode #clientInfo {    
	padding: 0;
}

.pdf_mode #company-info-holder {
    width: 400px;
}

.pdf_mode #invoice-details-holder {
    width: 296px;
}

.pdf_mode .invoice-meta {
    width: 700px;
    height: 34px;
    background: #ddd;
}

.pdf_mode .invoice-meta td{
    white-space: nowrap;
    line-height: 1em;
}

.pdf_mode .invoice-meta td.invoice-id {
    min-width: 180px;
    width: 180px;
}

.pdf_mode .invoice-meta td.spacer {
    width: 120px;
    min-width: 120px;
}

.invoice-meta td.invoice-id .h5 {
    color: #fff;
}

.pdf_mode .invoice-meta td.invoice-date {
    background: #ddd;
    width: 170px;
    text-align: center;
}

.pdf_mode .invoice-meta td.invoice-due {
    width: 100px;
    min-width: 100px;
    text-align: center;
}

.pdf_mode .img_logo img {
    max-width: 270px;
}

.pdf_mode .description { width: 700px; text-align: center; }

.pdf_mode #content > table {
    width: 700px;
}

.pdf_mode #content table td {
    font-size: 12px;
    padding: 6px 10px;
    line-height: 1;
    vertical-align: middle;
}


.pdf_mode #content > table tr th.column_1 {
    width: 321px;
    padding-left: 10px;
}

.pdf_mode #content > table tr th.column_2 {
	width:94px;
}

.pdf_mode #content > table tr th.column_3 {
	width:70px;
}

.pdf_mode #content > table tr th.column_4 {
	width:60px;
}

.pdf_mode #content > table tr th.column_5 {
	width:64px;
    text-align: right;
    padding-right: 10px;
}


/* Clearfix */
.pdf_mode .clearfix:before,
.pdf_mode .clearfix:after {
    content:"";
    display:block;
}
.pdf_mode .clearfix:after {
    clear:both;
}
.pdf_mode .clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* Table Meta */

.pdf_mode .table-meta {
    page-break-inside: inside;
    position: relative;
    width: 700px;
}

.pdf_mode .table-meta td {
    
}

.pdf_mode .table-meta .total-values {
    page-break-inside: inside;
}

.pdf_mode .table-meta .invoice-extra {
    width: 560px;
    page-break-inside: inside;
    float: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}

.pdf_mode .table-meta .invoice-totals {
    vertical-align: top;
    page-break-inside: inside;
    float: none;
    position: absolute;
    top: 0;
    right: 15px;
    width: 120px;
}

.pdf_mode .table-meta .invoice-totals table {
    vertical-align: top;
    page-break-inside: inside;
}

.pdf_mode #content .total-heading {
    width: 60px;
}

.pdf_mode .total-heading, .pdf_mode .total-values {
    height: 20px;
}