/*
	pancake_bar_style.css
   Pancake Header Bar theme

	This stylesheet loads the base values and theme for the headerbar, if you wish to change any values, duplicate this one and use 
	@import to load your new stylesheet as this one maybe be updated in the future. 
	
	Edit at your own risk! We dont want to see you lose your work :D

   Created by Lee Tengum on 2011-06-27.
   Copyright 2011 Pancake Payments (http://pancakeapp.com). All rights reserved.
*/

#buttonBar {
	height:50px;
	width:100%;
	display:block;
	text-align:right;
  	position:fixed;
    z-index: 4;
	top:0;
	left:0;
	background: #3a3a3a;
	color: #fff;
	line-height: 21px;
    border-bottom: 1px solid #fff;
}

.buttonContainer {
    width:1110px;
    margin:0 auto;
}

#buttonHolders {
	float: right;
}

#buttonLeft {
    float: left;
}



.buttonContainer a {
	float:right;
	padding:15px 10px 10px 10px;
	color:#999;
    margin: 0 2px;
	text-decoration:none;
    border-bottom: 3px solid transparent;
    text-align: center;
    text-shadow: none;
    
    -webkit-transition: .2s ease-in-out all;
    -moz-transition: .2s ease-in-out all;
    transition: .2s ease-in-out all;    
}

.buttonContainer a:hover {
    background: #3f3f3f;
    border-bottom-color: #33B5E5;
    /* Saf4+, Chrome */
    color: #fff;
    cursor: pointer;
    text-shadow:none;
}

.invoice .paidon, .button-bar-text {
	float:left;
	margin-left:5px;
	margin-top:16px;
    text-shadow: none;
}

.proposal .sidebar a {
	color:#777;
	text-decoration:none;
    display: block;
    -webkit-transition: .2s linear color;
    -moz-transition: .2s linear color;
    transition: .2s linear color;
}

.proposal .sidebar a:hover {
    color: #333;
}

/* Buttons */
a.button, input.button {
    font-family: 'Source Sans Pro', 'source sans pro', 'Open Sans', 'Helvetica', helvetica;
	font-size:14px;
    background: #ff4179;
	margin-top: 8px;
	font-weight: 600;
	color:#fff !important;
    line-height: 22px;
    padding: 5px 14px;
    height: 30px;
    text-shadow: 1px 1px 1px #a6274c;
    -webkit-box-shadow: 0 5px #a6274c,0px 5px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px #a6274c,0px 5px 6px rgba(0,0,0,0.3);
    box-shadow: 0 5px #a6274c,0px 5px 6px rgba(0,0,0,0.3);
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .01s linear all, .2s ease-in-out background-color;
    -moz-transition: .01s linear all, .2s ease-in-out background-color;
    transition: .01s linear all, .2s ease-in-out background-color;
    text-decoration: none;
    cursor: pointer;
}

a.button:hover, input.button:hover {
    background: #FF5C8C;
    text-shadow: 1px 1px 1px #a6274c;
    text-decoration:none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

a.button:active, input.button:active {
    box-shadow: #A6274C 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: #A6274C 0 1px,0px 1px 3px rgba(0,0,0,0.3);
    -moz-transform: translate(0,2px)!important;
    -webkit-transform: translate(0,2px)!important;
    -o-transform: translate(0,2px)!important;
    -ms-transform: translate(0,2px)!important;
    transform: translate(0,2px)!important;
}

a.button span {
	cursor:pointer;
	color: #fff !important;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
}

a.button.green {
    background-color: #7FC24B;
    text-shadow: 1px 1px 1px #4b7a29;
    -webkit-box-shadow: 0 5px #4b7a29,0px 5px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px #4b7a29,0px 5px 6px rgba(0,0,0,0.3);
    box-shadow: 0 5px #4b7a29,0px 5px 6px rgba(0,0,0,0.3);    
}

a.button.green:active {
    box-shadow: #4b7a29 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: #4b7a29 0 1px,0px 1px 3px rgba(0,0,0,0.3);
}

a.button.green:hover {
    background: #8eca62;
}


a.button.red {
    background: #D54518;
    text-shadow: 1px 1px 1px #953211;
    -webkit-box-shadow: 0 5px #953211,0px 5px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px #953211,0px 5px 6px rgba(0,0,0,0.3);
    box-shadow: 0 5px #953211,0px 5px 6px rgba(0,0,0,0.3);    
}

a.button.red:active {
    box-shadow: #e96336 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: #e96336 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: #e96336 0 1px,0px 1px 3px rgba(0,0,0,0.3);
}

a.button.red:hover {
    background: #e96336;
}


a.button.grey {
    background: #adadad;
    text-shadow: 1px 1px 1px #818181;
    -webkit-box-shadow: 0 5px #818181,0px 5px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px #818181,0px 5px 6px rgba(0,0,0,0.3);
    box-shadow: 0 5px #818181,0px 5px 6px rgba(0,0,0,0.3);    
}

a.button.grey:active {
    box-shadow: #e96336 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: #e96336 0 1px, 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: #e96336 0 1px,0px 1px 3px rgba(0,0,0,0.3);
}

a.button.grey:hover {
    background: #e96336;
}



 
 /*

#buttonBar a, #login-box input.button, .button, .proposal .addSection, .proposal .addPage, .proposal .savePremadeSection, .proposal .addEstimate, .proposal .pickEstimate, .proposal .createEstimate, .proposal .addPremadeSection {
	margin:10px 0px 0 10px;
	padding:5px 10px;
	color:#555;
	text-decoration:none;

  background: #F3F6F9;
  border: 1px solid #bbb;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F3F6F9));
  
  background-image: -webkit-linear-gradient(top, #FFFFFF, #F3F6F9);
  background-image: -moz-linear-gradient(top, #FFFFFF, #F3F6F9);
  background-image: -ms-linear-gradient(top, #FFFFFF, #F3F6F9);
  background-image: -o-linear-gradient(top, #FFFFFF, #F3F6F9);
  background-image: linear-gradient(top, #FFFFFF, #F3F6F9); 

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 1px 1px #fff;
  -moz-box-shadow: inset 0 0 1px 1px #fff;
  -ms-box-shadow: inset 0 0 1px 1px #fff;
  -o-box-shadow: inset 0 0 1px 1px #fff;
  box-shadow: inset 0 0 1px 1px #fff;
  color: #333;
  font: bold 11px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 8px 12px 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;

}
#buttonBar a:hover,  #login-box input.button:hover, .button:hover, .proposal .addSection:hover, .proposal .addPage:hover, .proposal .savePremadeSection:hover, .proposal .addEstimate:hover, .proposal .pickEstimate:hover, .proposal .createEstimate:hover, .proposal .addPremadeSection:hover  {
    background: #D54518;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#EF4C1A), to(#D54518));
  
  background-image: -webkit-linear-gradient(top, #EF4C1A, #D54518);
  background-image: -moz-linear-gradient(top, #EF4C1A, #D54518);
  background-image: -ms-linear-gradient(top, #EF4C1A, #D54518);
  background-image: -o-linear-gradient(top, #EF4C1A, #D54518);
  background-image: linear-gradient(top, #EF4C1A, #D54518);

  -webkit-box-shadow: inset 0 0 1px 1px #fff;
  -moz-box-shadow: inset 0 0 1px 1px #fff;
  -ms-box-shadow: inset 0 0 1px 1px #fff;
  -o-box-shadow: inset 0 0 1px 1px #fff;
  box-shadow: inset 0 0 1px 1px #fff;
    color: #fff;
    cursor: pointer;
	text-shadow:none;
}
.button:active, #login-box input.button:active, #buttonBar a.active, #buttonBar a.saving  {
    background: #D54518;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#EF4C1A), to(#D54518));
  
  background-image: -webkit-linear-gradient(top, #EF4C1A, #D54518);
  background-image: -moz-linear-gradient(top, #EF4C1A, #D54518);
  background-image: -ms-linear-gradient(top, #EF4C1A, #D54518);
  background-image: -o-linear-gradient(top, #EF4C1A, #D54518);
  background-image: linear-gradient(top, #EF4C1A, #D54518);

    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #fff;
    cursor: pointer;
	text-shadow:none;
}
*/
#buttonBar a.saved {
	background: #D54518;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#56D566), to(#08B71F));
  
  background-image: -webkit-linear-gradient(top, #56D566, #08B71F);
  background-image: -moz-linear-gradient(top, #56D566, #08B71F);
  background-image: -ms-linear-gradient(top, #56D566, #08B71F);
  background-image: -o-linear-gradient(top, #56D566, #08B71F);
  background-image: linear-gradient(top, #56D566, #08B71F);

    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #fff;
    cursor: pointer;
	text-shadow:none;
}
